/*body {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	min-height: 100vh;
}*/

main {
	background-color: #0c0e17;
	min-height: 100vh;
}

header {
	z-index: 1000 !important; /* FIX FOR CAROUSEL GOING ON TOP OF NAV BAR*/
}

/* DISABLE ARROWS IN NUMBER INPUT FIELDS */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-overlay {
	z-index: 3000 !important;
}

.typ-orbitron {
	font-family: 'Orbitron', sans-serif;
}

.typ-nunito {
	font-family: 'Titillium Web', sans-serif;
}

.m-top-15 {
	margin-top: 15px;
}

.m-bottom-15 {
	margin-bottom: 15px;
}

.m-top-30 {
	margin-top: 30px;
}

.m-bottom-30 {
	margin-bottom: 30px;
}

.m-top-60 {
	margin-top: 60px;
}

.white-border {
	border: 1px solid white;
	padding: 9px;
}

.grey-border {
	border: 1px solid grey;
	padding: 9px;
}


.dennis-custom-glow1 {
	animation: denniscustomglow 1.5s infinite alternate ease-in-out;
}

@keyframes denniscustomglow {
	FROM {filter: brightness(.33) hue-rotate(133deg); -webkit-filter: brightness(.33) hue-rotate(133deg);}
	TO {filter: brightness(1.3) hue-rotate(133deg); -webkit-filter: brightness(1.3) hue-rotate(133deg)}
}

/***********************************************/
/* HEADER */

#header_buffer {
	height: 90px;
}

#nav_upper_bar {
	position: relative;
	min-height: 25px;
	line-height: 25px;
	width: 100%;
}

#nav_upper_bar a,
#nav_upper_bar button,
#nav_bread_crumbs button {
	font-size: 12px;
	max-height: 25px;
	line-height: 25px;
	min-width: 150px;
}

#nav_upper_bar i {
	margin-right: 5px;
	font-size: 15px;
	line-height: 25px;
}

#nav_lower_bar {
	width: 100%;
	position: fixed;
	padding: 10px;
	padding-top: 3px;
	margin-top: 25px;
	height: 90px;
	transition: height 0.3s;
	overflow: hidden;
	z-index: 1000;
}

.lower_bar_strap {
  font-family: 'Orbitron', sans-serif;
  background-color: #8d8d8d;
  height: 13px;
  width: 141px;
  transform: rotate(-57deg);
  margin-top: 27px;
  margin-left: -122px;
  display: inline-block;
  transition: margin-left 1.5s, background-color 6s, transform 1s, height 3s, opacity 6s;
  color: #000000;
  font-size: 12px;
  line-height: 13px;
  text-align: left;
  font-weight: bold;
  opacity: 1;
}

.lower_bar_strap:first-of-type {
	margin-left: -25px;
}

.upper-greet {
	margin-left: 20px;
}

#bluefire_logo {
	height: 85px;
	transition: height 0.3s;
}

#search_input {
	width: 230px;
	padding-left: 10px;
}

#search_input:focus {
	border-bottom-color: blue;
}

.search-wrapper i .material-icons {
	display: inline-block;
}

#nav_bread_crumbs {
	position: fixed;
	line-height: 18px;
	opacity: 0;
	background-color: azure;
	z-index: 1000;
}

#nav_bread_crumbs * a,
#nav_bread_crumbs * i {
	color: black;
	margin-left: 3px;
	margin-right: 6px;
	font-size: 15px;
	line-height: 7px;
	max-height: 18px;
	display: none;
}

#nav_bread_crumbs * a {
	min-width: 80px;
	font-family: 'Orbitron', sans-serif;
	font-weight: 500;
	padding-top: 9px;
}

#nav_bread_crumbs * li:hover {
  border-left: 1px solid #b2fffb;
  border-right: 1px solid #b2fffb;
  background: azure;
  border-top: 4px solid #47c9ff;
  transition: border-top .09s, box-shadow 0.3s;
  box-shadow: 0px 12px 63px -3px #0eb8ff;
}

#nav_bread_crumbs * a:hover {
	background: azure;
}


.pin-top {
  position: relative;
}


.pin-bottom {
  position: relative;
}


#nav_lower_bar.pinned {
  position: fixed !important;
  filter: brightness(1.1) contrast(1.1);
  height: 60px;
  transition: padding-top: 2s, padding-bottom 2s, height 2s, filter 3s;
  background-image: url('../img/lower-nav-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
}

#nav_lower_bar.pinned .lower_bar_strap {
	opacity: 0;
	height: 0%;
	transform: rotate(999deg);
	background-color: #217aff;
	margin-left: 300px;
}

#nav_lower_bar.pinned #bluefire_logo {
	height: 57px;
}

#nav_bread_crumbs.pinned {
	min-height: 25px;
	opacity: 1;
	transition: background-color 0.3s, opacity 0.3s, min-height 0.15s, line-height 0.3s;
}

#nav_bread_crumbs.pinned * a,
#nav_bread_crumbs.pinned * i {
	display: inline-block;
}

.pinned {
  width: 100%;
}

#mobile_main_menu {
	width: 100%;
	z-index: 2000;
}

#close_side_nav {
	margin-top: 10px;
	margin-right: 10px;
	border: 1px solid grey;
	border-radius: 9px;
	padding: 3px;
}

#close_side_nav i {
	line-height: 31px;
	margin-right: 15px;
}

#mobile_main_menu li {
	border-top: 1px solid azure;
	height: 55px;
}

#mobile_main_menu li:last-of-type {
	border-bottom: 1px solid azure;
}

#mobile_main_menu li a i,
#mobile_main_menu li a {
	color: white;
}

#mobile_main_menu li a i {
	margin-right: 27px;
}

#mobile_main_menu li a {
	margin-left: 0px;
	background-color: black;
}

.logo_mobile_container {
	overflow: hidden;
	display: inline-block;
	width: 100%;
}

.logo_mobile_container img {
	width: 90%;
}

#mobile_app_section {
	margin: 15px auto;
	text-align: center;
	width: 90%;
}

#mobile_app_section a {
	display: inline-block;
	width: 49%;
	padding: 5px;
}

.app_link_icon {
	border: 1px solid gray;
	border-radius: 9px;
}

.bluefire_ico {
	background-image: url('../img/bluefire-logo-single.svg');
	background-size: contain;
	background-repeat: no-repeat;
	filter: grayscale() brightness(2);
	-webkit-filter: grayscale() brightness(2);
	margin-left: -10px;
 	padding-right: 16px !important
}

#modal_add_item,
#modal_register,
#modal_login {
	z-index: 5000 !important;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 84%;
	border-radius: 6px;
}

.reg_cont {
	width: 97%;
	margin: 0 auto;
}

#add_item_h4,
#login_h4 {
	background-color: #2962ff;
	padding: 10px;
	margin-bottom: 0px;
}

#login_h4 h4 {
	margin-bottom: 0px;
	padding-bottom: 3px;
}

#login_form {
	padding-top: 15px;
	margin-bottom: 0px;
}

#modal_login i.fa-google {
	margin-left: -18px;
}

/***********************************************/
/* MAIN */
/* MAIN PAGE CAROUSEL */

.mobile-greet {
	max-width: 80%;
	margin: 0 auto;
}

.hero-carousel.carousel .indicators .indicator-item {
	height: 18px;
	width: 18px;
	background-color: #2f5a9cb5;
	border-radius: 1px;
	transition: transform 0.6s;
}

.hero-carousel.carousel .indicators .indicator-item.active {
	background-color: white;
	transform: rotate(305deg);
}

.hero-button:focus,
.hero-button {
	font-family: 'Orbitron', sans-serif;
	background-color: #0060ff1a;
	border: 2px solid white;
	border-radius: 20px;
	font-size: 21px;
	height: 60px;
	padding: 9px;
	top: 30px;
	filter: brightness(2);
	z-index: 500;
}

.hero-button:hover {
	background-color: #001e9980;
}

/* MAIN PAGE PARALLAX */

.parallax-container {
  height: 300px;
  z-index: 0;
}

.parallax {
	z-index: -1;
}

.parallax_caption1 {
  z-index: 1;
  position: absolute;
  background-color: #0000008c !important;
  font-size: 21px;
  top: 66%;
  color: white;
  padding: 15px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 10px;
}

.caption1_b {
	background: none !important;
	position: relative;
	margin: 0 auto;
}

/***********************************************/
/* SHOP */

#add_item_button {
	position: absolute;
	top: 160px;
	left: 51px;
	opacity: .6;
}

#add_item_button:hover {
	opacity: 1;
}

.item-block-cont {
/*	background-color: red;
	border: 1px solid yellow;*/
	padding: 15px 5px 0px 5px !important;
}

.item-block {
	position: relative;
	margin: 0px;
	padding: 18px;
	box-sizing: border-box;
	border-radius: 3px;
	color: azure;
	background-color: #212121;
	transition: transform 0.3s, box-shadow 0.3s, border-right 0.3s;
	min-height: 530px;
	max-height: 530px;
	text-align: left;
  overflow: hidden;
  border-right: 10px solid #333333;
}

.item-block:hover {
  box-shadow: 0px 16px 95px -14px #001b6e;
  transform: translatey(-3px);
  border-right: 10px solid #0044ff;
}

.item-img-cont {
	position: relative;
	width: 100%;
	min-height: 190px;
	max-height: 190px;
	border: 1px solid #2e2e2e;
	overflow: hidden;
}

.item-img-cont img {
	transition: transform 2s, filter .3s;
  max-width: 100%;
  position: absolute;
  height: auto;
  max-height: 190px;
  left: 50%;
  transform: translatex(-50%);
}

.item-img-cont img:hover {
	transform: scale(1.1,1.1) translatex(-45%);
	filter: brightness(1.3);
}

.item-desc-cont {
	padding: 9px;
	width: 100%;
	min-height: 260px;
	max-height: 260px;
}

.item-desc-cont hr {
	border-color: #2e2e2e;
}

.item-name {
	/*font-size: 1.15rem;*/
}

.item-desc {
	margin: 0 auto;
	height: 64px;
	max-height: 100%;
	overflow: auto;
	overflow-wrap: break-word;
}

.item-main-desc:first-child {
	margin-top: 21px;
}

.add-cart-btn {
	position: absolute;
	bottom: 18px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	font-size: 1.1em;
	line-height: 30px;
	min-width: 200px;
}

.add-cart-btn i {
	margin: 0px;
}

.add-cart-btn:hover {
  background-color: lightgreen !important;
  color: black;
}

.item-block-decor {
	width: 100px;
	height: 15px;
	bottom: 23px;
	right: -32px;
	position: absolute;
	background-color: #152f78;
	color: #05a1ee;
	transform: rotate(-45deg);
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
}

.del-item {
  position: absolute;
	opacity: .15;
  top: 10px;
  right: 9px;
}

.edit-item {
	position: absolute;
	opacity: .15;
	top: 55px;
  right: 9px;
}

.del-item:hover,
.edit-item:hover {
	opacity: 1;
}

/***********************************************/
/* ASIDE */

#bluefire_quick_menu {
	opacity: .5;
}

#bluefire_quick_menu:hover {
	opacity: 1;
}

.cart-count-cont {
    position: absolute;
    background-color: #003e9b;
    height: 33px;
    width: 33px;
    bottom: 39px;
    right: -15px;
    border-radius: 50%;
    color: white;
    opacity: .5;
}

.cart-count-cont:hover {
	opacity: 1;
}

.cart-count-cont span {
	left: 50%;
	margin: 0 auto;
}

/***********************************************/
/* FOOTER */

#footer_buffer {
	height: 90px;
}

.page-footer hr {
	border-color: #115bf0;
}

.footer_p_desc {
	font-size: 12px;
	text-align: left;
	color: gray;
}

.footer_app_icon {
	width: 49%;
}

.page-footer .app_link_icon {
	width: 90%;
	display: inline-block;
}

#disclaimer_notice {
	font-size: 12px;
	color: gray;
	text-align: justify;
}
/***********************************************/

/* MEDIA QUERY SECTION */

/* MOBILE DEVICES */
@media only screen and (max-width: 480px) {

	.hero-carousel.carousel .indicators .indicator-item.active,
	.hero-carousel.carousel .indicators .indicator-item,
	.hero-button {
		transform: scale(.5);
	}

	.hero-button {
		top: 0px;
	}

	#header_buffer {
		height: 66px;
	}

	#nav_lower_bar {
		margin-top: 0px;
		max-height: 59px;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
	}

	#modal_login {
		width: 90%;
	}

	#bluefire_logo {
		height: 50px;
	}

	.parallax-container {
		margin-top: 15px;
	}

	#parallax_img1 img {
		left: 50%;
	}

	.parallax_caption1 {
		font-size: 15px;
	}

	.iso_img {
		width: 30% !important;
	}

	.social_icon_group i {
		font-size: 3.3em;
	}

}
/* END - MOBILE DEVICES */


/* TABLET DEVICES */
@media only screen and (min-width: 481px) and (max-width: 960px) {

	#bluefire_logo {
		margin-top: 15px;
		height: 65px;
	}

	#nav_lower_bar {
		margin-top: 0px;
	}

	#nav_lower_bar.pinned #bluefire_logo {
		margin-top: 0;
	}

	#nav_lower_bar {
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
	}

	nav .brand-logo.center {
		left: 33%;
	}

	#search_input {
		width: 200px;
	}

	#parallax_img1 img {
		left: 50%;
	}

	#mobile_app_section a {
		display: inline-block;
		width: 30%;
		padding: 5px;
	}

	#modal_login {
		width: 63%;
	}

	.social_icon_group i {
		font-size: 3.3em;
	}

}
/* END - TABLET DEVICES */



/* DESKTOPS */
@media only screen and (min-width: 961px) {

	#modal_login {
		width: 39%;
	}

}
/* END - DESKTOPS */

/***********************************************/
/* SPECIAL SECTION */

/* CUSTOM WEBKIT SCROLLBAR */
*::-webkit-scrollbar-track {
	border: 1px solid black;
	background-color: black
}

*::-webkit-scrollbar {
	width: 6px;
	background-color: white;
}

*::-webkit-scrollbar-thumb {
	background-color: #0d47a1;
	border-color: transparent;
}

*::-webkit-scrollbar-button:vertical:increment,
*::-webkit-scrollbar-button:vertical:decrement {
	display: none;
}

/* CUSTOM SCROLL FOR SHOP ITEM DESCRIPTION */
.item-desc::-webkit-scrollbar-track,
.item-desc::-webkit-scrollbar-button:horizontal:increment,
.item-desc::-webkit-scrollbar-button:horizontal:decrement {
	display: none;
}

/* WEB KIT AUTO FILL WHITE BACKGROUND UGLY AND CANT BE OVERIDDEN SO I DELAYED IT FOREVER */ 
input:-webkit-autofill {
	transition: background-color 9999999999s, color 9999999999s !important;
}



/* PRE LOADER */
.page_container div#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50000;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: black url('../img/bluefire_preloader.gif') no-repeat center center;
	background-size: 60%;
}

.preloader_logo_cont {
	width: 100%;
	height: 100%;
}

.preloader_logo {
		width: 50% !important;
    position: absolute;
    left: 25%;
}



/* SOCIAL ICONS */

.footer_app_icon:hover,
.social_icon_group a:hover {
	filter: brightness(2);
	-webkit-filter: brightness(2);
}

.page-footer .fa {
 margin-right: 3px;
}

.fa-facebook-square {
	color: #3b5998;
}

.fa-youtube-square {
	color: #bb0000;
}

.fa-google-plus-square {
	color: #dd4b39;
}

.fa-twitter-square {
	color: #00aced;
}

.fa-pinterest-square {
	color: #cb2027;
}

.fa-tumblr-square {
 color: #32506d;
}

.fa-instagram {
 color: #517fa4;
}

/* PAYMENT ICONS */
.fa-cc-paypal,
.fa-cc-mastercard,
.fa-cc-visa,
.fa-cc-amex,
.fa-cc-discover {
	color: white;
}

.extra_pay_icon{
	height: 36px;
	border-radius: 3px;
}

.certification_container {
	margin-top: 15px;
	width: 100%;
}

.iso_img {
	width: 50%;
}

/* MATERIALIZE CUSTOM */

.item-list-cont.container { /* FOR SHOP DEFAULT WIDTH is 70%*/
	width: 90%;
}

.waves-effect.waves-bluefire .waves-ripple {
  background-color: rgba(0, 176, 234, 0.65);
}

.input-field input[type=email]:focus, 
.input-field input[type=password]:focus {
	border-bottom: 1px solid #03a9f4 !important;
	box-shadow: 0 1px 0 0 #03a9f4 !important;
}

.input-field .prefix.active {
	color: #03a9f4;
}

[type="checkbox"]:checked+label:before {
	border-right: 2px solid #3790ff;
  border-bottom: 2px solid #3790ff;
}

.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #03a9f4 !important;
}

.social {
	min-width: 275px;
}

.social i {
	min-width: 50px;
	max-width: 50px;
}

/* FONT CHOICES */
/*font-family: 'Orbitron', sans-serif;*/
/*font-family: 'Libre Barcode 39 Text', cursive;*/
/*font-family: 'Titillium Web', sans-serif;*/
